body,
html {
  width: 100%;
  height: 100%;
}

hr {
  max-width: 1000px;
  border-width: 2px;
  opacity: 0.75;
}

header.startup {
  background-position: center;
  background-image: url(background.jpg);
  background-size: cover;
  height: 100%;
}

.links{
  padding-right: 2px;
}

.nav-item {
  font-family: 'Amatic SC', cursive;
  transition: transform 1s;
}

.nav-item:hover {
  transform: scale(1.2);
}

.nav-link {
  color: black;
  font-size: 2em;
  font-weight: 600;
}

.nav-link:hover {
  color: white;
}

.carousel-inner {
  width:75%;
}

.videoWrapper {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.videoWrapper iframe {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
  overflow: hidden;
}

.bg-dark {
  background-color: #000000 !important;
}

.btn {
  margin-top: 50px;
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
}

.btn-dark {
  background-color: #000000 !important;
}

.btn-md {
  padding: 1rem 2rem;
  border-radius: 100px !important;
  transition: transform 1s;
}

.btn-md:hover {
  transform: scale(1.2);
}

.image {
  transition: transform 1s;
}

.image:hover {
  transform: scale(1.2);
}
